.card-body{
  height: 200px;
  overflow-y:scroll ;
  display: flex;
  align-items: end;
  
  //chrome edge
  &::-webkit-scrollbar{
    height: 4px;      /* for horizontal scrollbar */
    width: 0px;       
  }
  &::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  //firefox   
  scrollbar-width: thin;         /* 'auto' | 'thin' | 'none' */
  scrollbar-color: #888 #fff;  
}

.title{
  font-weight: 600;
  font-size: 18px;
  color: var(--bs-primary);
}

.text-danger{
  color: red;
}

.straight{
  position: relative;
  width: fit-content;
  padding-left: 5px;
}
.up{
  position: relative;
  width: fit-content;
  svg{
    margin-bottom:2px ;
    padding-left: 5px;
  }
  
}
.arrow{
  position: relative;
  padding-left: 5px

}

.l2-straight{
  margin-bottom: 78px;
  margin-left: 5px;
  position: relative;
  .label-up{
    position: absolute;
    top: -16px;
    left: -35px;
    color: inherit
  }
  
}

.l2-arrow{
  margin-bottom: 78px;
  margin-left: 5px;
  position: relative;
  .label-up{
    position: absolute;
    top: -16px;
    left: -35px;
    color: inherit
  }
  
}
.down{
  padding-left: 5px;
  position: relative;
  .label-up{
    position: absolute;
    top: -22px;
    left: -35px;
    color: inherit;
  }
}

.label-down{
  position: absolute;
  bottom: -20px;
  left: -28px;
  color: inherit;
}



